List - in python list is mutable

In [7]:
num=[1,2,3,4]
str=["yahiya","abid","habib","khan"]
mix=[1,"yamin",True,10.5]

print(num[1])
print(str[1])
print(mix[2])
print()
print()
print(num)
print(str)
print(mix)

2
abid
True


[1, 2, 3, 4]
['yahiya', 'abid', 'habib', 'khan']
[1, 'yamin', True, 10.5]

In [9]:
num1=[0,1,2,3,4]
print(num1[:])

[0, 1, 2, 3, 4]

In [20]:
print(num1[:3])

[0, 1, 2]

In [19]:
print(num1[1:])

[1, 2, 3, 4]

In [22]:
num1=[0,1,2,3,4]
print(num1[0:5:2])

[0, 2, 4]

built in Function for list

In [36]:
num2=[4,1,2,5,3]
num2.reverse()
print("revers: ")
print(num2)


num2.sort()
print("sort:")
print(num2)


num2.append(99) #end of the list
print("append(end of list)")
print(num2)


num2.insert(0,100) #specific position
print("insert(specific position)")
print(num2)


num2.extend([66,77,88])
print("extend(append multiple end of the list)")
print(num2)

revers:
[3, 5, 2, 1, 4]
sort:
[1, 2, 3, 4, 5]
append(end of list)
[1, 2, 3, 4, 5, 99]
insert(specific position)
[100, 1, 2, 3, 4, 5, 99]
extend(append multiple end of the list)
[100, 1, 2, 3, 4, 5, 99, 66, 77, 88]

Change/replace any Value

In [46]:
num2=[4,1,2,50,3]

num2[1]=100
print(num2)

num2[1:3]=[22,23]
print(num2)

num2.remove(50) #remove the value 50
print(num2)


print(num2.pop())
print(num2)

[4, 100, 2, 50, 3]
[4, 22, 23, 50, 3]
[4, 22, 23, 3]
3
[4, 22, 23]

Revers Print

In [ ]:
num2=[4,1,2,50,3]

print(num2[0::-1])

[3, 50, 2, 1, 4]

Empty list Initializing

In [1]:
l1=[1,2,3,4]
l2=[]
for i in l1:
    l2.append(i**2)
print(l2);

[1, 4, 9, 16]

**Fixed Size Empty List with a certain value like `zero`**

In [8]:
l3=[]*4
l1=[1,2,3,4,5]
print(l3)
for i in l1:
    l3.append(i)
print(l3)

[]
[1, 2, 3, 4, 5]